# 全局配置
global:
  # 服务名称
  name: chart-provider
  # 配置文件版本
  version: 0.1.0
  # 日志配置
  log:
    # 日志级别
    level: debug
    # 日志文件路径
    path: ./logs/logs.log
    # 日志文件轮转
    rotate: true
    # 日志文件最大大小（MB）
    max_size: 2
    # 日志文件保存天数
    max_age: 28
    # 日志文件最大备份数
    max_backups: 30
    # 是否压缩日志文件
    compress: true
    # 是否使用本地时间而不是UTC时间
    local_time: true
